---
import type { HTMLAttributes } from "astro/types";

import { getAllLessons } from "#api/lessons";
import Container from "#components/Container.astro";

type Props = HTMLAttributes<"div">;

const props = Astro.props;

const allLessons = await getAllLessons();

const money = new Intl.NumberFormat("en-us", {
	style: "currency",
	currency: "USD",
	maximumSignificantDigits: 1,
});
---

<div class="root" {...props}>
	<Container>
		<h2>Book a lesson</h2>

		<hr />

		<div class="lessons">
			{
				allLessons.map((lesson) => {
					return (
						<div class="lesson">
							<div class="info">
								<h3>{lesson.title}</h3>
								<span>{money.format(lesson.price)}</span>
							</div>

							{lesson.subtitle && <p class="subtitle">{lesson.subtitle}</p>}

							<button data-url={lesson.calendlyUrl} class="button">
								Book
							</button>
						</div>
					);
				})
			}

			<div class="lesson">
				<div class="info">
					<h3>Playing lesson</h3>
					<span>{money.format(200)}</span>
				</div>

				<p class="subtitle">
					Interested in getting a lesson on the course?
					<br />
					Reach out using the contact form below and we&apos;ll set something up.
				</p>

				<a href="#contact" class="button">Get in touch</a>
			</div>
		</div>
	</Container>
</div>

<script>
	declare let Calendly: any;

	const buttons: NodeListOf<HTMLButtonElement> =
		document.querySelectorAll("button[data-url]");

	buttons.forEach((button) => {
		button.addEventListener("click", () => {
			const url = button.dataset.url;

			if (!url || typeof Calendly === undefined) {
				console.warn("Calendly missing");
				return false;
			}

			Calendly.initPopupWidget({ url });
		});
	});
</script>

<style>
	.root {
		padding-block-start: 1px;
	}

	h2 {
		font-size: var(--font-size-xxl);
		text-align: center;
	}

	hr {
		max-width: 48rem;
		height: 16px;
		margin-block-end: var(--space-xl);
		margin-inline: auto;
		border: 0;
		background-color: var(--color-green);
	}

	.lessons {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--space-xl);
	}

	.lesson {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.info {
		display: flex;
		align-items: center;
		font-size: var(--font-size-xl);
	}

	h3 {
		margin: 0;
		font-size: var(--font-size-xl);
	}

	h3::after {
		content: "\2022";
		margin-inline: var(--space-sm);
	}

	.subtitle {
		font-style: italic;
		max-width: 55ch;
		margin-block-start: var(--space-sm);
		margin-block-end: var(--space-md);
		margin-inline: auto;
		text-align: center;
		text-wrap: balance;
		opacity: 0.8;
	}

	.button {
		display: inline-block;
		margin-block-start: var(--space-sm);
		border: 2px solid var(--color-green);
		border-radius: 9999px;
		padding-block: var(--space-sm);
		padding-inline: var(--space-md);
		background-color: transparent;
		color: inherit;
		font-family: var(--font-family-heading);
		font-size: var(--font-size-lg);
		text-decoration: none;
		cursor: pointer;
		transition:
			background-color 0.2s ease,
			color 0.3s ease;

		&:hover {
			background-color: var(--color-green);
			color: var(--color-white);
		}
	}
</style>
